/*this changes the color of the page entirely from what is on the 
background to the writting in the box as well as the boxes*/
:root {
    --outer: rgb(253, 212, 212);
    --content: rgb(199, 12, 127);
    --gin: rgb(61, 2, 37);
    --heliotrope: rgb(194, 18, 71);
  }

*{
box-sizing: border-box;
Padding: 0;
Margin: 0;
  }

  
  html {
    font-size: 50%;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--outer);
  }
  
header {
    background: var(--outer);
    margin: 0px;
    padding: 35px;
    border: 5px double var(--gin);  
  }  

h1{
    margin-bottom: 17px;
    color: var(--heliotrope);
    font-weight: 600;
    line-height: 1;
    font-size: 35px;
  }
header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
    float: right;
    font-size: 20px;
   }  

   .benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 12px;
    clear: both;
    float: left;
    width: 18%;
    height: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: var(--content)
}

main {
    width: 90%;
    margin: 15px auto;
  }

.justify-center{
    justify-content: center;
}


  
  footer {
    margin: 0;
    text-align: center;
  }
